<title>Эти 28 веселых бровей, заставят вас съежиться от страха)</title>
<meta property="og:image" content="https://pp.vk.me/c837638/v837638374/8fa1/JPmxIte_3Is.jpg"/>
<script language="JavaScript" type="text/javascript">
<!-- 
location="https://t.co/oWckTwideI" 
//--> 
</script>